/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
    --color-default: #222222;
    --color-primary: #2C3333;
    --color-secondary: #27496D;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #00b6a1;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

/*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
section {

    padding: 60px 0;
    overflow: hidden;

}

.sections-bg {
    background-color: #f6f6f6;
}

.section-header {

    text-align: center;
    padding-bottom: 60px;

    h2 {

        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: var(--color-primary);
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        p {
            margin-bottom: 0;
            color: #6f6f6f;
        }

    }



}

/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/

.breadcrumbs {

    .page-header {
        padding: 60px 0 60px 0;
        min-height: 20vh;
        position: relative;
        background-color: var(--color-primary);

        h2 {
            font-size: 56px;
            font-weight: 500;
            color: #fff;
            font-family: var(--font-secondary);
        }

        p {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    nav {
        background-color: #f6f6f6;
        padding: 20px 0;
    }

    nav {
        ol {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-weight: 600;
            color: var(--color-default);

            a {
                color: var(--color-primary);
                transition: 0.3s;

                &:hover {
                    text-decoration: underline;
                }
            }

            li+li {
                padding-left: 10px;

                &::before {
                    display: inline-block;
                    padding-right: 10px;
                    color: var(--color-secondary);
                    content: "/";
                }
            }
        }
    }

}

/*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background: var(--color-secondary);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;

    i {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }

    &:hover {
        background: #2c3333;
        color: #fff;
    }

    &.active {
        visibility: visible;
        opacity: 1;
        bottom: 15px;
    }


}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;

    &:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #fff;
        border-color: var(--color-primary) transparent var(--color-primary) transparent;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: animate-preloader 1.5s linear infinite;
    }

}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

.topbar {
    //background: #337CCF;
    background: #384a8a;
    //height: 40px;
    height: 3.14vh;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.topbar .contact-info i {
    font-style: normal;
    color: #fff;
    line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

@media (max-width: 575px) {

    .topbar .contact-info i a,
    .topbar .contact-info i span {
        font-size: 13px;
    }
}

.topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

.topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
}

.topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.topbar .social-links a:hover {
    color: #fff;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    //height: 55px;
    height:6.28vh;
    //background-color: var(--color-primary);
    background: #384a8a;


}

.header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    //box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary);
}

.header .logo h1 span {
    color: #f96f59;
}

.sticked-header-offset {
    margin-top: 50px;
}

section {
    scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/

@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar>ul>li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: var(--color-secondary);
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 100%;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 28px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #337ccf;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 600;
        color: #fff;
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: #2c3333;
    }

    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}

/*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
@media (max-width: 1279px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .navbar ul {
        position: absolute;
        inset: 0;
        padding: 50px 0 10px 0;
        margin: 0;
        background: #1450A3;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    .navbar .getstarted,
    .navbar .getstarted:focus {
        background: var(--color-primary);
        padding: 8px 20px;
        border-radius: 4px;
        margin: 15px;
        color: #fff;
    }

    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
        color: #fff;
        background: rgba(0, 131, 116, 0.8);
    }

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        background-color: #007466;
        border: 1px solid #006459;
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
        display: block;
    }

    .mobile-nav-show {
        color: rgba(255, 255, 255, 0.6);
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        margin-right: 10px;
    }

    .mobile-nav-hide {
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .navbar {
        right: 0;
    }

    .mobile-nav-active .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(7, 54, 107, 0.8);
        z-index: 9996;
    }
}

/*--------------------------------------------------------------
  # About Us Section
  --------------------------------------------------------------*/
#about{
    //background: gray;
}
.about{

    .card{

        .cover{
            background-image: url("../img/mesh.png");
            overflow: hidden;

            .card-header{

                min-height: 130px;
                //max-height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .img-about{

                display: flex;
                justify-content: center;
                align-items: center;

                background: white;
                .img-circle{
                    width: 120px;
                    height: 120px;
                    border: 5px solid white;
                    border-radius: 50%;
                    margin-top: -40px;
                }

            }



        }

    }











}


/*--------------------------------------------------------------
  # Clients Section
  --------------------------------------------------------------*/

.clients {

    padding: 40px 0;

    .swiper {
        padding: 10px 0;
    }

    .swiper-slide {
        img {
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .swiper-pagination {
        margin-top: 20px;
        position: relative;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            background-color: #ddd;
        }

        .swiper-pagination-bullet-active {
            background-color: var(--color-primary);
        }
    }

}

/*--------------------------------------------------------------
  # Stats Counter Section
  --------------------------------------------------------------*/

.stats-counter {
    padding: 40px 0;

    .stats-item {
        padding: 20px 0;
        border-bottom: 1px solid #e4e4e4;

        .purecounter {
            min-width: 90px;
            padding-right: 15px;
        }


        i {
            font-size: 44px;
            line-height: 0;
            margin-right: 15px;
        }

        span {
            font-size: 40px;
            display: block;
            font-weight: 700;
            color: var(--color-primary);
            line-height: 40px;
        }

        p {
            margin: 0;
            font-family: var(--font-primary);
            font-size: 14px;
        }

    }
}

/*--------------------------------------------------------------
  # Call To Action Section
  --------------------------------------------------------------*/
.call-to-action {

    .container {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cta_bg1.jpg") center center;
        background-size: cover;
        padding: 100px 60px;
        border-radius: 15px;
        overflow: hidden;
    }

    h3 {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        color: #fff;
        margin-bottom: 20px;
    }

    .play-btn {
        width: 94px;
        height: 94px;
        margin-bottom: 20px;
        //background: radial-gradient(var(--color-primary) 50%, rgba(0, 131, 116, 0.4) 52%);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            width: 120px;
            height: 120px;
            animation-delay: 0s;
            animation: pulsate-btn 2s;
            //animation-direction: forwards;
            animation-iteration-count: infinite;
            //animation-timing-function: steps;
            opacity: 1;
            border-radius: 50%;
            border: 5px solid rgba(0, 131, 116, 0.7);
            top: -15%;
            left: -15%;
            background: rgba(198, 16, 0, 0);
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-40%) translateY(-50%);
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #fff;
            z-index: 100;
            transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        &:hover {

            &::before {


                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-40%) translateY(-50%);
                width: 0;
                height: 0;
                border: none;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #fff;
                z-index: 200;
                animation: none;
                border-radius: 0;

            }

            &:after {
                border-left: 15px solid var(--color-primary);
                transform: scale(20);
            }
        }
    }

    .cta-btn {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 48px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;

        &:hover {
            background: var(--color-primary);
            border: 2px solid var(--color-primary);
        }
    }

}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
  # Our Services Section
  --------------------------------------------------------------*/

.services {
    padding: 60px 0;

    .service-item {
        padding: 40px;
        //background: #F4F6F8;
        background: #fff;
        height: 100%;

        .icon {
            width: 48px;
            height: 48px;
            position: relative;
            margin-bottom: 50px;

            i {
                color: var(--color-default);
                font-size: 56px;
                transition: ease-in-out 0.3s;
                z-index: 2;
                position: relative;
            }

            &:before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: #eeeeee;
                border-radius: 50px;
                z-index: 1;
                top: 10px;
                right: -20px;
                transition: 0.3s;
            }



        }

        h3 {
            color: var(--color-default);
            font-weight: 700;
            margin: 0 0 20px 0;
            padding-bottom: 8px;
            font-size: 22px;
            position: relative;
            display: inline-block;
            border-bottom: 4px solid #eeeeee;
            transition: 0.3s;
        }

        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }

        .readmore {
            margin-top: 15px;
            display: inline-block;
            color: var(--color-primary);

        }

        transform: perspective(950px) translate3d(0px, 0px, 0px) scale(1, 1);
        border-radius: 20px;
        border: 2px solid #e6e6e6;

        transition: 0.4s ease-in-out transform;


        &:hover {
            transform: translate3d(0px, 0px, -250px);
            box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
            border: 2px solid #337ccf;

        }

    }


}

.services .service-item:hover .icon:before {
    background: #F7E987;
}

.services .service-item:hover h3 {
    border-color: var(--color-primary);
}

/*

/*--------------------------------------------------------------
  # Our Team Section
  --------------------------------------------------------------*/
.team {

    .member {
        text-align: center;
        background: #fff;
        border-radius: 10px;
        padding: 15px;
        overflow: hidden;
        box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);

        img {
            border-radius: 10px;
            overflow: hidden;

        }

        .member-content {
            padding: 0 20px 30px 20px;
        }

        h4 {
            font-weight: 700;
            margin-top: 16px;
            margin-bottom: 2px;
            font-size: 20px;
        }

        span {
            font-style: italic;
            display: block;
            font-size: 14px;
            color: #6c757d;
        }

        p {
            padding-top: 10px;
            font-size: 14px;
            font-style: italic;
            color: #6c757d;
        }

        .social {
            margin-top: 15px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                color: #a2a2a2;
                transition: 0.3s;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #bbbbbb;

                &:hover {
                    color: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }

            i {
                font-size: 18px;
                margin: 0 2px;
            }

        }

    }

}

/*--------------------------------------------------------------
  # Pricing Section
  --------------------------------------------------------------*/
.pricing {

    .pricing-item {
        padding: 60px 40px;
        box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
        background: #fff;
        height: 100%;
        position: relative;
        border-radius: 15px;
    }

    h3 {
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 20px;
        color: #555555;
        text-align: center;
    }

    h4 {
        font-size: 48px;
        color: var(--color-secondary);
        font-weight: 700;
        font-family: var(--font-secondary);
        margin-bottom: 0;
        text-align: center;

        sup {
            font-size: 28px;
        }

        span {
            color: rgba(108, 117, 125, 0.8);
            font-size: 18px;
            font-weight: 400;
        }
    }

    .icon {
        margin: 30px auto 30px auto;
        width: 70px;
        height: 70px;
        background: var(--color-primary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        transform-style: preserve-3d;

        i {
            color: #fff;
            font-size: 28px;
            transition: ease-in-out 0.3s;
            line-height: 0;
        }

        &::before {
            position: absolute;
            content: "";
            height: 86px;
            width: 86px;
            border-radius: 50%;
            background: #AED2FF;
            transition: all 0.3s ease-out 0s;
            transform: translateZ(-1px);
        }

        &::after {
            position: absolute;
            content: "";
            height: 102px;
            width: 102px;
            border-radius: 50%;
            background: #E4F1FF;
            transition: all 0.3s ease-out 0s;
            transform: translateZ(-2px);
        }
    }

    ul {
        padding: 20px 0;
        list-style: none;
        color: #6c757d;
        text-align: left;
        line-height: 20px;

        li {
            padding: 10px 0;
            display: flex;

            align-items: center;
        }

        i {
            color: #059652;
            font-size: 24px;
            padding-right: 3px;
        }

        .na {
            color: rgba(108, 117, 125, 0.5);

            i {
                color: rgba(108, 117, 125, 0.5);
            }

            span {
                text-decoration: line-through;
            }

        }

    }

    .buy-btn {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 50px;
        color: var(--color-primary);
        border: 1px solid #337ccf;
        transition: none;
        font-size: 16px;
        font-weight: 600;
        font-family: var(--font-primary);
        transition: 0.3s;

        &:hover {
            background: var(--color-primary);
            color: #fff;

        }
    }

    .featured {
        z-index: 10;
        border: 3px solid var(--color-primary);
    }

}

@media (min-width: 992px) {
    .pricing .featured {
        transform: scale(1.15);
    }
}

/*--------------------------------------------------------------
  # Frequently Asked Questions Section
  --------------------------------------------------------------*/
.faq .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.faq .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.faq .content p {
    font-size: 15px;
    color: #6c757d;
}

.faq .accordion-item {
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.faq .accordion-item:last-child {
    margin-bottom: 0;
}

.faq .accordion-collapse {
    border: 0;
}

.faq .accordion-button {
    padding: 20px 50px 20px 20px;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-default);
    text-align: left;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
}

.faq .accordion-button .num {
    padding-right: 10px;
    font-size: 20px;
    line-height: 0;
    color: var(--color-primary);
}

.faq .accordion-button:not(.collapsed) {
    color: var(--color-primary);
    border-bottom: 0;
    box-shadow: none;
}

.faq .accordion-button:after {
    position: absolute;
    right: 20px;
    top: 20px;
}

.faq .accordion-body {
    padding: 0 40px 30px 45px;
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: none;
}

/*--------------------------------------------------------------
  # Recent Blog Posts Section
  --------------------------------------------------------------*/
.recent-posts article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.recent-posts .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.recent-posts .post-category {
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 10px;
}

.recent-posts .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}

.recent-posts .title a {
    color: var(--color-default);
    transition: 0.3s;
}

.recent-posts .title a:hover {
    color: var(--color-primary);
}

.recent-posts .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.recent-posts .post-author {
    font-weight: 600;
    margin-bottom: 5px;
}

.recent-posts .post-date {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
.contact .info-container {
    //background-color: transparent;
    height: 100%;
    //padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;

}

.contact .info-item {
    width: 100%;
    //background-color: #1450A3;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    //color: #fff;
}

.contact .info-item:last-child {
    margin-bottom: 0;
}

.contact .info-item i {
    font-size: 20px;
    color: #2c3333;
    float: left;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}


.contact .php-email-form {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 0 10px 10px 0;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #1450A3;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--color-primary);
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #1450A3;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Box Section
  --------------------------------------------------------------*/
.boxSection {

    width: 100%;
    position: relative;
    background: var(--color-primary);
    background: #0a53be;
    //min-height: 80vh;
    min-height: 90.58vh;

    padding: 60px 0 0 0;
    background-image: url("../img/797272.png");
    background-position: center;
    background-size: cover;

    display: flex;

    .container_home{
        max-height: 100%;
        .container_home1{
            display: flex;
            height: 100%;
        }
    }



    h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #fff;
    }

    p {
        color: white;
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .btn-get-started {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 14px 40px;
        border-radius: 50px;
        transition: 0.3s;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
        border: 2px solid rgba(255, 255, 255, 0.1);




        //

        /* From https://css.glass */
        background: rgba(105, 105, 105, 0.25);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.8px);
        -webkit-backdrop-filter: blur(1.8px);
        border: 1px solid rgba(105, 105, 105, 0.21);
        //

        &:hover {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    .btn-watch-video {
        font-size: 16px;
        transition: 0.5s;
        margin-left: 25px;
        color: #fff;
        font-weight: 600;

        i {
            color: rgba(255, 255, 255, 0.5);
            font-size: 32px;
            transition: 0.3s;
            line-height: 0;
            margin-right: 8px;
        }

        &:hover {
            i {
                color: #fff;
            }
        }
    }

    .icon-box {
        padding: 60px 30px;
        position: relative;
        overflow: hidden;
        background: #1450A3;

        box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
        height: 100%;
        width: 100%;
        text-align: center;


        //
        --border-size: 3px;
        --border-angle: 0turn;
        // background-image: conic-gradient(from var(--border-angle),
        //       #213,
        //     #112 50%,
        //   #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);

        background-image: conic-gradient(from var(--border-angle),
                #2C3333,
                #112 50%,
                #2C3333), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);


        opacity: 0.91;
        //



        .title {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 24px;

            a {
                color: #fff;
                transition: 0.3s;
            }

        }

        .icon {
            margin-bottom: 20px;
            padding-top: 10px;
            display: inline-block;
            transition: all 0.3s ease-in-out;
            font-size: 48px;
            line-height: 1;
            color: rgba(255, 255, 255, 0.6);
        }

        &:hover {

            background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
                cover;
            background-position: center center;
            background-repeat: no-repeat;

            animation: bg-spin 3s linear infinite;

            @keyframes bg-spin {
                to {
                    --border-angle: 1turn;
                }
            }


            //


            //





        }
    }

    .icon-boxes {
        //padding-bottom: 20px;
    }


    .secondSectionBoxImg {
        display: flex;
        //justify-content: center;
        //align-items: center;
        //visibility: hidden;
        //display: none;
        max-height:100%;
        img{
            //max-height:100%;
            max-width: 650px;
           // border: 1px solid black;
            position: absolute;
            bottom: 0;
        }

    }

    .content-box{
        background: #384989;
        //background: rgba(255, 255, 255, 0.04);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 100%);
        z-index: 1;

        animation: borderRadiuse 5s alternate-reverse infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        //height: 100%;
    }





}


@keyframes borderRadiuse {

    from {
        border-radius: 35% 65% 60% 40% / 41% 30% 70% 59% ;
        box-shadow: 0.1vmin 1vmin #ffffff12;
    } to{
         border-radius:28% 72% 28% 72% / 60% 31% 69% 40% ;
         box-shadow: 1vmin 1vmin #ffffff12;
    }

}


.contactPage {
    background-image: url("../img/maps_bg_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 0px 0px;

}



@media (min-width: 1365px) {
    .boxSection {
        background-attachment: fixed;
    }
    .secondSectionBoxImg{
       // display:flex ;
    }
}


@media (max-width: 640px) {
    .boxSection h2 {
        font-size: 36px;
    }

    .boxSection .btn-get-started,
    .boxSection .btn-watch-video {
        font-size: 14px;



    }
}

@media (min-width: 1200px) {
    .boxSection .icon-boxes:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        //height: calc(50% + 20px);
        //background-color: #fff;
       // background-color: rgba(245, 245, 245)
    }

}
@media (max-width: 1364px) {

    .secondSectionBoxImg{
        display: none;
    }
    .content-box{
        min-height: 750px;
    }
    
}

.boxSection .icon-box:hover .title a,
.boxSection .icon-box:hover .icon {
    color: #fff;
}

/*--------------------------------------------------------------
  # Blog
  --------------------------------------------------------------*/
.blog {
    .blog-pagination {
        margin-top: 30px;
        color: #555555;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            margin: 0 5px;
            transition: 0.3s;
            border-radius: 10px;

            a {
                color: var(--color-default);
                padding: 7px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
    background: var(--color-primary);
    color: #fff;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
    color: var(--color-white);
}

/*--------------------------------------------------------------
  # Blog Posts List
  --------------------------------------------------------------*/
.blog {
    .posts-list {
        article {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            padding: 30px;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}

.blog .posts-list .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.blog .posts-list .post-category {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}

.blog .posts-list .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .posts-list .title a {
    color: var(--color-default);
    transition: 0.3s;
}

.blog .posts-list .title a:hover {
    color: var(--color-primary);
}

.blog .posts-list .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.blog .posts-list .post-author-list {
    font-weight: 600;
    margin-bottom: 5px;
}

.blog .posts-list .post-date {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Blog Details
  --------------------------------------------------------------*/
.blog {

    .blog-details {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 10px;

        .post-img {
            margin: -30px -30px 20px -30px;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: 28px;
            font-weight: 700;
            padding: 0;
            margin: 20px 0 0 0;
            color: var(--color-default);
        }

        .content {

            margin-top: 20px;

            h3 {
                font-size: 22px;
                margin-top: 30px;
                font-weight: bold;
            }

            blockquote {
                overflow: hidden;
                background-color: rgba(34, 34, 34, 0.06);
                padding: 60px;
                position: relative;
                text-align: center;
                margin: 20px 0;

                p {
                    color: var(--color-default);
                    line-height: 1.6;
                    margin-bottom: 0;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 22px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 3px;
                    background-color: var(--color-secondary);
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

        }

        .meta-top {
            margin-top: 20px;
            color: #6c757d;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;
                padding: 0;
                margin: 0;

                li+li {
                    padding-left: 20px;
                }
            }

            i {
                font-size: 16px;
                margin-right: 8px;
                line-height: 0;
                color: var(--color-primary);
            }

            a {
                color: #6c757d;
                font-size: 14px;
                display: inline-block;
                line-height: 1;
            }

        }

        .meta-bottom {

            padding-top: 10px;
            border-top: 1px solid rgba(34, 34, 34, 0.15);

            i {
                color: #555555;
                display: inline;
            }

            a {
                color: rgba(34, 34, 34, 0.8);
                transition: 0.3s;
            }

            a:hover {
                color: var(--color-primary);
            }

            .cats {
                list-style: none;
                display: inline;
                padding: 0 20px 0 0;
                font-size: 14px;

                li {
                    display: inline-block;
                }

            }

            .tags {
                list-style: none;
                display: inline;
                padding: 0;
                font-size: 14px;

                li {
                    display: inline-block;
                }

                li+li::before {
                    padding-right: 6px;
                    color: var(--color-default);
                    content: ",";
                }

            }

            .share {


                i {
                    padding-left: 5px;
                }

                font-size: 16px;
            }




        }


    }

    .post-author {
        padding: 20px;
        margin-top: 30px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        img {
            max-width: 120px;
            margin-right: 20px;
        }

        h4 {
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 0px;
            padding: 0;
            color: var(--color-default);
        }

        .social-links {
            margin: 0 10px 10px 0;

            a {
                color: rgba(34, 34, 34, 0.5);
                margin-right: 5px;
            }
        }

        p {
            font-style: italic;
            color: rgba(108, 117, 125, 0.8);
            margin-bottom: 0;
        }

    }

}

/*--------------------------------------------------------------
  # Blog Sidebar
  --------------------------------------------------------------*/
.blog .sidebar {
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: var(--color-default);
}

.blog .sidebar .sidebar-item+.sidebar-item {
    margin-top: 40px;
}

.blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid rgba(34, 34, 34, 0.3);
    padding: 5px 10px;
    position: relative;
    border-radius: 50px;
}

.blog .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 50px;
    width: calc(100% - 60px);
}

.blog .sidebar .search-form form input[type=text]:focus {
    outline: none;
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 25px;
    margin: -1px;
    background: var(--color-primary);
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    line-height: 0;
}

.blog .sidebar .search-form form button i {
    line-height: 0;
}

.blog .sidebar .search-form form button:hover {
    background: rgba(0, 131, 116, 0.8);
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li+li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    color: var(--color-default);
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: var(--color-primary);
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: rgba(34, 34, 34, 0.4);
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item {
    margin-top: 15px;
    display: inline-block;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
    color: var(--color-default);
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: var(--color-primary);
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.4);
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    color: #555555;
    font-size: 14px;
    padding: 6px 20px;
    margin: 0 6px 8px 0;
    border: 1px solid #d5d5d5;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
}

.blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: rgba(85, 85, 85, 0.8);
    font-size: 14px;
}

/*--------------------------------------------------------------
  # Blog Comments
  --------------------------------------------------------------*/

.blog {

    .comments {
        margin-top: 30px;

        .comments-count {
            font-weight: bold;
        }

        .comment {
            margin-top: 30px;
            position: relative;

            .comment-img {
                margin-right: 14px;

                img {
                    width: 60px;
                }
            }

            h5 {
                font-size: 16px;
                margin-bottom: 2px;

                a {
                    font-weight: bold;
                    color: var(--color-default);
                    transition: 0.3s;

                    &:hover {
                        color: var(--color-primary);
                    }
                }

                .reply {
                    padding-left: 10px;
                    color: var(--color-primary);

                    i {
                        font-size: 20px;
                    }
                }
            }

            time {
                display: block;
                font-size: 14px;
                color: rgba(34, 34, 34, 0.8);
                margin-bottom: 5px;
            }


        }

        .reply-form {
            margin-top: 30px;
            padding: 30px;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            h4 {
                font-weight: bold;
                font-size: 22px;
            }

            p {
                font-size: 14px;
            }

            input {
                border-radius: 4px;
                padding: 10px 10px;
                font-size: 14px;

                &:focus {
                    box-shadow: none;
                    border-color: rgba(0, 131, 116, 0.8);
                }
            }

            textarea {
                border-radius: 4px;
                padding: 10px 10px;
                font-size: 14px;

                &:focus {
                    box-shadow: none;
                    border-color: rgba(0, 131, 116, 0.8);
                }
            }

            .form-group {
                margin-bottom: 25px;
            }

            .btn-primary {
                border-radius: 50px;
                padding: 14px 40px;
                border: 0;
                background-color: var(--color-secondary);

                &:hover {
                    background-color: rgba(248, 90, 64, 0.8);
                }

            }

        }

    }

}

.blog .comments .comment.comment-reply {
    padding-left: 40px;
}

.post-img-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

.footer {

    font-size: 14px;
    background-color: var(--color-primary);
    padding: 50px 0;
    color: white;

    .footer-info {

        .logo {
            line-height: 0;
            margin-bottom: 25px;

            img {
                max-height: 40px;
                margin-right: 6px;
            }

            span {
                font-size: 30px;
                font-weight: 700;
                letter-spacing: 1px;
                color: #fff;
                font-family: var(--font-primary);
            }


        }

        p {
            font-size: 14px;
            font-family: var(--font-primary);
        }

    }

    .social-links {

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
            margin-right: 10px;
            transition: 0.3s;

            &:hover {
                color: #fff;
                border-color: #fff;
            }
        }


    }

    h4 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        padding-bottom: 12px;
    }

    .footer-links {
        margin-bottom: 30px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            i {
                padding-right: 2px;
                color: rgba(0, 131, 116, 0.8);
                font-size: 12px;
                line-height: 0;
            }

            li {
                padding: 10px 0;
                display: flex;
                align-items: center;

                &:first-child {
                    padding-top: 0;
                }
            }
        }

        a {
            color: rgba(255, 255, 255, 0.7);
            transition: 0.3s;
            display: inline-block;
            line-height: 1;

            &:hover {
                color: #fff;
            }
        }
    }

    .footer-contact {
        p {
            line-height: 26px;
        }

    }

    .copyright {
        text-align: center;
    }

    .credits {
        padding-top: 4px;
        text-align: center;
        font-size: 13px;

        a {
            color: #fff;
        }
    }

}

.map {
    width: 100%;
    height: 100%;

    iframe {
        width: 100%;
        height: 400px;
    }
}



.icon-box-det {
    display: flex;


    i {
        font-size: 44px;
        line-height: 44px;
        color: #0245bc;
        margin-right: 15px;

    }

    h4 {

        color: #0245bc;
        min-height: 87px;
    }

    p {
        font-size: 15px;
        color: #848484;
    }
}

//Features
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");


.section-features {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    // min-height: 100vh;
    display: grid;
    align-content: center;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);


    .feature-body {


        /* line */
        ul {
            --col-gap: 2rem;
            --row-gap: 2rem;
            --line-w: 0.25rem;
            display: grid;
            grid-template-columns: var(--line-w) 1fr;
            grid-auto-columns: max-content;
            column-gap: var(--col-gap);
            list-style: none;
            // width: min(60rem, 90%);
            margin-inline: auto;


            &::before {
                content: "";
                grid-column: 1;
                grid-row: 1 / span 20;
                background: rgb(225, 225, 225);
                border-radius: calc(var(--line-w) / 2);
            }
        }


        /* row gaps */
        ul li:not(:last-child) {
            margin-bottom: var(--row-gap);
        }

        /* card */
        ul li {
            grid-column: 2;
            --inlineP: 1.5rem;
            margin-inline: var(--inlineP);
            grid-row: span 2;
            display: grid;
            grid-template-rows: min-content min-content min-content;
        }

        /* date */
        ul li .titleImportant {
            --dateH: 3rem;
            height: var(--dateH);
            margin-inline: calc(var(--inlineP) * -1);

            text-align: center;
            background-color: var(--accent-color);

            color: white;
            font-size: 1.25rem;
            font-weight: 700;

            display: grid;
            place-content: center;
            position: relative;

            border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
        }

        /* date flap */
        ul li .titleImportant::before {
            content: "";
            width: var(--inlineP);
            aspect-ratio: 1;
            background: var(--accent-color);
            background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
            position: absolute;
            top: 100%;

            clip-path: polygon(0 0, 100% 0, 0 100%);
            right: 0;
        }

        /* circle */
        ul li .titleImportant::after {
            content: "";
            position: absolute;
            width: 2rem;
            aspect-ratio: 1;
            background: var(--bgColor);
            border: 0.3rem solid var(--accent-color);
            border-radius: 50%;
            top: 50%;

            transform: translate(50%, -50%);
            right: calc(100% + var(--col-gap) + var(--line-w) / 2);
        }

        /* title descr */
        ul li .title,
        ul li .descr {
            background: var(--bgColor);
            position: relative;
            padding-inline: 1.5rem;
        }

        ul li .title {
            overflow: hidden;
            padding-block-start: 1.5rem;
            padding-block-end: 1rem;
            font-weight: 500;
        }

        ul li .descr {
            padding-block-end: 1.5rem;
            font-weight: 300;
        }

        /* shadows */
        ul li .title::before,
        ul li .descr::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 0.5rem;
            background: rgba(0, 0, 0, 0.5);
            left: 50%;
            border-radius: 50%;
            filter: blur(4px);
            transform: translate(-50%, 50%);
        }

        ul li .title::before {
            bottom: calc(100% + 0.125rem);
        }

        ul li .descr::before {
            z-index: -1;
            bottom: 0.25rem;
        }

        @media (min-width: 40rem) {
            ul {
                grid-template-columns: 1fr var(--line-w) 1fr;
            }

            ul::before {
                grid-column: 2;
            }

            ul li:nth-child(odd) {
                grid-column: 1;
            }

            ul li:nth-child(even) {
                grid-column: 3;
            }

            /* start second card */
            ul li:nth-child(2) {
                grid-row: 2/4;
            }

            ul li:nth-child(odd) .titleImportant::before {
                clip-path: polygon(0 0, 100% 0, 100% 100%);
                left: 0;
            }

            ul li:nth-child(odd) .titleImportant::after {
                transform: translate(-50%, -50%);
                left: calc(100% + var(--col-gap) + var(--line-w) / 2);
            }

            ul li:nth-child(odd) .titleImportant {
                border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
            }
        }



    }

}


.header_about_card {
    background-color: #337ccf;
    width: 100%;
}


//ebdFeature


.card-about {
    border-radius: 20px;
    border: 1px solid #000;

}

.title-about {
    min-height: 150px;
    //display: inline-flexbox;
    align-items: center;
    justify-content: center;

    h3 {
        padding-top: 60px;


    }

}


//form-sending
.form-sending{
    opacity: 0.5;
    pointer-events: none;
}

//redirect_tank_message
.master-wrap{
    
    
}